<div class="teacher-details">
  <div class="teacher-info">
    <div class="teacher-label">Teacher ID:</div>
    <div class="teacher-value">{{ TeacherID }}</div>
  </div>
  <div class="teacher-info">
    <div class="teacher-label">First Name:</div>
    <div class="teacher-value">{{ FirstName }}</div>
  </div>
  <div class="teacher-info">
    <div class="teacher-label">Last Name:</div>
    <div class="teacher-value">{{ LastName }}</div>
  </div>
  <div class="teacher-info">
    <div class="teacher-label">Email:</div>
    <div class="teacher-value">{{ Email }}</div>
  </div>
  <div class="teacher-info">
    <div class="teacher-label">Phone:</div>
    <div class="teacher-value">{{ Phone }}</div>
  </div>
  <div class="teacher-info">
    <div class="teacher-label">Subject ID:</div>
    <div class="teacher-value">{{ SubjectID }}</div>
  </div>
  <div class="teacher-info">
    <div class="teacher-label">Subject Name:</div>
    <div class="teacher-value">{{ SubjectName }}</div>
  </div>
</div>
