<aside class="sidebar shadow-sm " style="width: 200px;">

  <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
    <div class="profile-details text-center pt-5">
      <img class="pt-5" src="../../../assets/teacher.png" alt="" width="100" >
      <p class="mb-0 text-uppercase mt-2 font-weight-bold">TMS</p>
    </div>
  </div>


  <nav class="sidebar-menu pt-3 pb-3">
    <ul class="menu-items">
      <li title="ALL-TEACHERS">
        <a routerLink="/all-teachers" routerLinkActive="active">
          <span>ALL-TEACHERS</span>
        </a>
      </li>
      <li title="CREATE TEACHER">
        <a routerLink="/create-teacher" routerLinkActive="active">
          <span>CREATE TEACHERS</span>
        </a>
      </li>
      <li title="SUBJECTS">
        <a routerLink="/all-subjects" routerLinkActive="active">
          <span>ALL-SUBJECTS</span>
        </a>
      </li>
      <li title="CREATE SUBJECTS">
        <a routerLink="/create-subject" routerLinkActive="active">
          <span>CREATE SUBJECTS</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>

