<div #element class="container">
  <div class="card" style="border: 1px solid #59B1A6">
    <div class="card-body p-4">
      <h6 class="align-content-start font-weight-bold">ALL TEACHERS</h6>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th style="text-align: center">View</th>
        <th style="text-align: center">Edit</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let teacher of teachers">
        <td>{{ teacher.TeacherID }}</td>
        <td>{{ teacher.FirstName }} {{ teacher.LastName }}</td>
        <td>{{ teacher.Email }}</td>
        <td>{{ teacher.Phone }}</td>
        <td style="text-align: center">
          <button class="btn custom-view-button" (click)="navigateToViewTeachers(teacher.TeacherID)">VIEW</button>
        </td>
        <td style="text-align: center">
          <button class="btn custom-view-button" (click)="navigateToUpdateTeachers(teacher.TeacherID)">EDIT</button>
        </td>
      </tr>
      </tbody>
    </table>


    <div class="container">
    </div>
  </div>
</div>
